#服务器基础配置
server:
  # 网关端口，前端统一访问这个端口
  port: 8080
  servlet:
    context-path: /
spring:
  application:
    name: gateway-service # 网关服务名
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.150.105:8848 # Nacos地址
        namespace: easyfun_dev
        username: nacos
        password: 12345678
      config:
        server-addr: 192.168.150.105:8848 # Nacos地址
        namespace: easyfun_dev
        file-extension: yaml
        username: ${spring.cloud.nacos.discovery.username}
        password: ${spring.cloud.nacos.discovery.password}
    gateway:
      routes:
        - id: authorization-service-route
          uri: lb://authorization-service
          order: 0
          predicates:
            - Path=/auth/**
          filters:
            - RewritePath=/auth/(?<segment>.*), /$\{segment}
        - id: user-service-route
          uri: lb://user-service
          order: 1
          predicates:
              - Path=/user/**
          filters:
            - RewritePath=/user/(?<segment>.*), /$\{segment}
      globalcors:
        cors-configurations:
          '[/**]': # 对所有路径生效
            allowed-origins: "*" # 允许所有源（生产环境建议指定具体域名）
            allowed-methods: "*" # 允许所有请求方法
            allowed-headers: "*" # 允许所有请求头
            allow-credentials: true # 允许携带cookie
            max-age: 3600 # 预检请求缓存时间（秒）
      httpclient:
        connect-timeout: 3000 # 连接超时时间（毫秒）
        response-timeout: 5000 # 响应超时时间（毫秒）
  config:
    import:
      # 格式：nacos:服务名-环境名.yml?server-addr=Nacos地址
      # 严格模式：Nacos上必须存在ef-gateway-dev.yml配置，否则启动失败
#      - nacos:ef-gateway-dev.yml?server-addr=${spring.cloud.nacos.config.server-addr}
      # 可选模式（推荐新手）：配置不存在也不报错，启动不受影响
      - optional:nacos:ef-gateway-dev.yaml?server-addr=${spring.cloud.nacos.config.server-addr}
  data:
    redis:
      host: 192.168.150.105
      port: 6379
      username: easyfun
      password: 12345678
      database: 0
      timeout: 10000ms
      # Jedis连接池配置（pool2的核心参数）
      jedis:
        pool:
          max-active: 20       # 连接池最大活跃连接数（推荐根据QPS调整，比如20-50）
          max-idle: 10         # 连接池最大空闲连接数
          min-idle: 5          # 连接池最小空闲连接数（避免频繁创建/销毁连接）
          max-wait: 5000ms     # 获取连接的最大等待时间（超时会抛异常，避免无限等待）
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty: DEBUG